<div class="content">
  <div class="year-grid">
    <div class="box">
      <form>
        <select>
          <option>2019</option>
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
        </select>
      </form>
    </div>
  </div>
  <div class="month-grid">
    <div class="box">
      <form>
        <select>
          <option>Все месяцы</option>
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
        </select>
      </form>
    </div>
  </div>
  <div class="blog-books">
    <div class="test" *ngFor="let book of Books">
      <a href="#" class="blog-item">
        <div class="book-image-grid">
          <img src="{{book.img}}" alt="Example" class="book-logo">
        </div>
        <div class="book-item-content" >
          <h3>{{book.name}}</h3>
          <p>Автор: {{book.author}} </p>
          <p>Жанр: {{book.genre}}</p>
          <p>Дата выпуска: {{book.date}}</p>
          <p>Язык книги: {{book.language}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
