<header class="main-header">

  <div class="logo-grid">
    <img src="../../assets/img/label.png" alt="Example" class="img-logo">
  </div>





  <div class="buttons-grid" id="buttons-grid">

    <div class="header-buttons">
      <button class="button button-gray" ><a [routerLink]="['/login']">Login</a></button>
      <button class="button" ><a [routerLink]="['/register']">Registration</a></button>
      <!--<button class="button" (click)="openForm2()">Register</button>-->
      <!--<button class="button button-gray" (click)="openForm()">Login</button>-->
    </div>
  </div>


</header>
